*{
  margin: 0px;
  padding: 0px;
  background-color: rgb(9, 118, 182);
}
/* https://stackoverflow.com/questions/38487738/how-do-i-center-an-iframe */
iframe{
  display: block;
  width: 50%;
  margin-top: 2.5%;
  margin-left: 5%;
  padding: 1.5%;
}
